:root {
  --stop-color-1: #bddcee;
  --stop-color-2: #ffffff;

  @property --fill-color {
    syntax: '<color>';
    inherits: false;
    initial-value: #fff;
  }
}

/*
FONTS
*/

@font-face {
  font-family: 'Urban Brush';
  src: url('/css/fonts/ccLuiza/Urban_Brush_Zone.ttf') format('truetype');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Urban Brush', cursive !important;
  background: linear-gradient(var(--stop-color-1), var(--stop-color-2));
  background-image: url(/assets/images/devfest_wall.jpeg);
  background-size: cover;
  background-attachment: fixed;
  color: #3b3b3b;
}

body.test {
  overflow: scroll;
}

#start-button {
  position: absolute;
  width: 250px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -125px;
  color: #3b3b3b;
  background-color: #ff9800;
  border-radius: 3px;
  box-shadow: #3b3b3b 3px 3px 9px 2px;
}

#game-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas:
    'logo'
    'song';
  padding: 0;
}

.game-logo {
  grid-area: logo;
  text-align: center;
  margin-top: 20px;
}

.countdown-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.join-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 25px;
  margin-left: 130px;
}

.join {
  font-size: 2em;
  line-height: 2em;
  margin: 0;
  text-align: center;
}

.draw-area {
  position: absolute;
  left: 15%;
  width: 70%;
  right: 0;
  top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
  height: 45%;
}

.draw-area-text {
  position: absolute;
  width: fit-content;
}

.draw-area-text::after {
  position: absolute;
  font-size: 25px;
  bottom: -45px;
  right: 0;
  content: '';
  animation: showCredits var(--timing, 5s) ease 0s 1 forwards;
}
.draw-area-container-test .draw-area-text::after {
  content: '@' attr(data-credits);
  animation: initial;
}

svg {
  display: none;
  overflow: inherit;
  /*background-image: url(/assets/images/brush-1.svg);
  background-repeat: no-repeat;
  background-size: var(--width-svg) var(--height-svg);*/
}

svg.show {
  display: block;
}

.draw-area-container {
  width: var(--width-svg);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.draw-area-svg-bg {
  position: absolute;
  left: 0;
  width: 0;
  height: var(--height-svg);
  overflow: hidden;
  animation: showBrush 1.3s ease 0s 1 forwards;
}
.draw-area-container-test .draw-area-svg-bg {
  width: var(--width-svg);
  animation: initial;
}

.draw-area-svg-bg img {
  filter: var(--filter-svg);
}

@keyframes showCredits {
  to {
    content: '@' attr(data-credits);
  }
}

@keyframes showBrush {
  to {
    width: var(--width-svg);
  }
}

/*
 TEST FONTS AREA
*/

.draw-area-test {
  position: absolute;
  border: thin solid red;
  left: 15%;
  width: 70%;
  right: 0;
  top: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}
.draw-area-container-test {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  border: thin solid black;
  margin: 5px;
  padding: 10px;
}
.draw-area-container-test .draw-area-text {
  all: unset;

  width: fit-content;
}

.draw-area-test svg {
  display: block;
}

/* LEAVE AT BOTTOM OF CSS FILE */
.hidden {
  display: none;
}

#opacity {
  position: absolute;
  overflow: hidden;
  background: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s;
  z-index: 100;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#opacity video {
  height: 95vh;
}
#opacity.black {
  opacity: 1;
}
